.navbar-nav {
    flex-basis: 100%;

    @media screen and (min-width: 576px) {
        .profile-nav-bar {
            border-left: 2px solid $brightness-d;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: 75%;

    }

    @media screen and (min-width: 1200px) {
        flex-basis: 50%;
    }
}

ul.navbar-nav.justify-content-between.align-items-center, .profile-nav-bar.d-flex.flex-column-reverse.flex-sm-row.flex-xl-grow-1.ps-sm-3.pe-sm-3 {
    gap: 2rem;
    flex-direction: column-reverse;
    @media screen and (min-width: 576px) {
        gap: 0;
        flex-direction: row;
    }
}